@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

#app,
.gradient-pattern-bg {
  background-image: url(/public/images/contour-lines.png),
    linear-gradient(to bottom right red, transparent),
    linear-gradient(to bottom left blue, transparent);
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

body {
  min-width: 100vw;
  min-height: 100vh;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
